.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;
    padding: 10px;
    border-top: .5008px solid var(--color-white);
    border-bottom: .5008px solid var(--color-white);
}

.contactSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.reservationOfRights {
    width: 50%;
    text-align: end;
}


.icon {
    display: flex;
    gap: 30px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 0;
        margin-top: 15px;
    }

    .contactSection {
        order: 2;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }

    ul {
        margin: 10px;
    }

    .reservationOfRights {
        width: 50%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 15px;
    }
}