.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.25rem;
    height: max-content;
}

.sectionWelcomeTitle {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: clamp(21.875rem, 40%, 37.5rem);
    list-style-type: none;
    height: max-content;

}

.sectionPerfil {
    color: var(--color-primary);
    display: flex;
    gap: .9375rem;
    align-items: flex-end;
    font-weight: bold ;

}
.paragraph{
    font-size: var(--font-weight-7);
    font-weight: var(--font-weight-2);
    text-align: justify;
    line-height: 1.7;
  }

.label {
    background-color: var(--color-primary);
    color: var(--color-white);

}

/* .profile{
    width: 52px;
    border-radius: 15%;
    border: 2px solid hsl(133, 64%, 35%);

}
 */
@media (max-width: 37.5rem) {
    .container {
        gap: 1.75rem;
        padding: 0;
        margin-top: 3.75rem;
    }
}